*{
    margin: 0;
    padding: 0;
}

.im{
    width:300px;
    height:200px;
    padding-left: 55ch;
}

.lof{
    width:54.5%;
    padding-left: 50ch;
    margin-top: -5px;
    align-items: center;
   
}
form {
    margin: 15px 0;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(12, 0, 0);
    display: flex;
    flex-direction: column;
    
}

form label {
    padding-top: 10px;
    display: block;
    margin: 2px 0;
}
form input {
    width: 400px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background-color: rgb(12, 107, 231);
    border: none;
    height: 30px;
    width:100px;
    border-radius: 5px;
    color:beige;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}

.but{
    padding-top:10px;
}